:root {
  --background: #999999;
  --border:#f08721;
  --header-text: #4d4b4d;
  --primary-text: #333333;
  --secondary-text: #666666;
  --accent-color: #007bff;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

.page {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 300px;
  background-color: white;
  border: 4px solid #f08721;
}


